upstream emby_docker {
    server 192.168.0.2:8096;
}

upstream owncloud_docker {
    server 192.168.0.2:8081;
}

server {
    listen      80;
    server_name emby.gn.reaper.pl;

    location / {
        proxy_pass  http://emby_docker;
    }
}

server {
    listen 443 ssl;
    server_name cloud.gn.reaper.pl;

    ssl_certificate /etc/nginx/ssl/gn.reaper.pl.crt;
    ssl_certificate_key /etc/nginx/ssl/gn.reaper.pl.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    location / {
        proxy_pass https://owncloud_docker;
    }
}


